@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root{
    // font
    --font-1: 'Montserrat', sans-serif;

    // color
   
    --color-1:#1e1e1e;
    --color-2:#000;
    --color-3:#fbe831;
    --color-4:#fdfdfd;
    --color-5:#fff;
    
   
    
    // color-hex-code
    --color-1-hex:38, 53, 70;
    --color-2-hex:128, 128, 128;
    --color-3-hex:255, 255, 255;
    --color-4-hex:0, 195, 255;
    --color-5-hex:0, 118, 255;
    
}
@mixin tranision($time:300ms) {
    transition: all ease-in-out $time;
    -webkit-transition: all ease-in-out $time;
    -moz-transition:all ease-in-out $time;
    -o-transition: all ease-in-out $time;
}

@mixin media($breakpoint) {
    @if $breakpoint=='xs' {
        @media(max-width:567px){
            @content;
        }
    }
    @if $breakpoint=='sm' {
        @media(max-width:767px){
            @content;
        }
    }
    @if $breakpoint=='md' {
        @media(max-width:991px){
            @content;
        }
    }
    @if $breakpoint=='lg' {
        @media(min-width:992px){
            @content;
        }
    }
} 