.about-section{
    padding: 115px 0;
    background-color:var(--color-5) ;
    .about-text{
        p{
            margin-bottom: 50px;
        }
        .button{
            
            text-decoration: none;
            font-size: 12px;
            line-height: 30px;
            font-weight: 500;
            color:var(--color-1);
            
        }
    }
}